body{/*stylesheet*/
font-family: serif;
text-align: left;
}

header, footer {
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
    background-color:red;
     text-shadow:
     -1px -1px 0 black,
     1px -1px 0 black,
     -1px 1px 0 black,
     1px 1px 0 black;
}

footer{
margin-top:20px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

header{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav {
  background:grey;
  float:top;
  padding:10px;
  color:orange;
  text-align:left;
}

.nav a {
 text-decoration: none;
 color: white;
 text-shadow:
 -1px -1px 0 black,
 1px -1px 0 black,
 -1px 1px 0 black,
 1px 1px 0 black;
}

.nav a:hover{ /*mouse over button*/
  color:red;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* positie van de tooltip*/
    position:absolute;
    z-index: 1;
}


/* maak de tooltip visible */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#tab { display:inline-block;
       margin-left: 15%;

}

.motivation
{
  text-align:center;
}

.foto img { /* foto resized met de browser.*/
    max-width: 25%;
    height: auto;
    width: auto\18;
    float:left;
    margin-left:25%;
    margin-bottom:1%;
    margin-right:1%;
}

.icon img { /* icon resized met de browser.*/
  max-width: 100%;
  height: auto;
  width: auto\15;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

button{
  margin-left:12%;
}
